<div class="signatures-container">
{{#signers}}
    <div class="signer">
        <span>
            {{#if url}}<a href="{{url}}">{{firstname}} {{lastname}}</a>
            {{else}}{{firstname}}
                {{lastname}}
            {{/if}}
            {{#if age}}, {{age}}{{/if}}
            {{#if ../cityView}}{{else}}
                {{#if city}},
                    <a
                        class="citylink"
                        href="/petition/{{city}}"
                    >{{toUpperCase city}}</a>{{/if}}
            {{/if}}

        </span>
    </div>
{{/signers}}
</div>