{{#if err}}
    <p class="error">{{err}}</p>
{{/if}}
{{#with userData}}
<form method="POST">
    <label for="firstname">First Name</label>
    <input name="firstname" value="{{firstname}}"/>

    <label for="lastname">Last Name</label>
    <input name="lastname" value="{{lastname}}"/>

    <label for="email">Email</label>
    <input type="email" name="email" value="{{email}}"/>

    <label for="password">Password</label>
    <input type="password" name="password" />


    <label for="age">Age</label>
    <input name="age" value="{{age}}"/>

    <label for="city">City</label>
    <input name="city" value="{{city}}"/>

    <label for="homepage">Homepage</label>
    <input name="homepage" value="{{url}}"/>
    {{/with}}

    <button>UPDATE</button>
</form>